:root{

    /*  Colors  */

--orange: rgba(226, 110, 25, 1);
--light-grey: rgba(22, 23, 24, 1);
--solid-black: rgba(10, 10, 11, 1);
--black-90: rgba(0, 0, 0, 0.9);
--white: rgba(240, 240, 245, 1);

    /*  Typography  */

    /*  font-family  */

--fontFamily-oleo: 'Oleo Script Swash Caps', cursive;
--fontFamily-poppins: 'Poppins', sans-serif;
--fontFamily-piny: 'Pinyon Script', cursive;
    
    /*  font-size  */

--fontSize-display-1: calc(1.3rem + 6.7vw);
--fontSize-headline-1: calc(2rem + 2.5vw);
--fontSize-headline-2: calc(1.3rem + 2.4vw);
--fontSize-title-1: calc(1.6rem + 1.2vw);
--fontSize-title-2: 2.2rem;
--fontSize-title-3: 2.1rem;
--fontSize-title-4: calc(1.6rem + 1.2vw);
--fontSize-body-1: 2.4rem;
--fontSize-body-2: 1.6rem;
--fontSize-body-3: 1.8rem;
--fontSize-body-4: 1.6rem;
--fontSize-label-1: 1.4rem;
--fontSize-label-2: 1.2rem;
    
    /*  font-weight  */

--weight-regular: 400;
--weight-bold: 700;
  
    /* line-height */

--lineHeight-1: 1em;
--lineHeight-2: 1.2em;
--lineHeight-3: 1.5em;
--lineHeight-4: 1.6em;
--lineHeight-5: 1.80em;
    
    /* letter-spacing */

--letterSpacing-1: 0.15em;
--letterSpacing-2: 0.3em;
--letterSpacing-3: 3px;

    /* spacing */

--section-space: 70px;

    /* shadow */

--shadow-1: 0px 0px 25px 0px hsla(0, 0%, 6%, 0.705);

    /* border-radius*/

--radius: 24px;
--radius-circle: 50%;

    /* transitions */

--transition-1: 250ms ease;
--transition-2: 500ms ease;
--transition-3: 1000ms ease;
    
}
    /* fomts */

@font-face {
    font-family: 'Pinyon Script';
    src: url('../Fonts/PinyonScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



    /* Clearing Basic CSS */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea { display: block; }

a {
    color: inherit;
    text-decoration: none;
}

img { height: auto; }

input,
button,
select,
textarea {
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea {
    width: 100%;
    outline: none;
}

button { cursor: pointer; }

address { font-style: normal; }

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color:  var(--solid-black);
    color: var(--white);
    font-family: var(--fontFamily-poppins);
    font-size:  var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    overflow: hidden; 
    height: 300vh;
}

body.loaded { overflow: overlay; }

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb { background-color: var(--orange); }

    /* Reusable */

.container { padding-inline: 16px;}

.separator { 
    width: 8px; 
    height: 8px; 
    border: 1px solid var(--orange);
    transform: rotate(45deg);
}

.hover-underline {
    position: relative;
    max-width: max-content;
}

.hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-block: 1px solid var(--orange);
    transform: scaleX(0.2);
    opacity: 0;
    transition: var(--transition-2);
}

.hover-underline:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    opacity: 1;
}

.text-center { text-align: center;}

 .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-subtitle {
    position: relative;
    color: var(--white);
    font-weight: var(--white);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-2);
    margin-block-end: 12px;
}

.btn{
    position: relative;
    color: var(--orange);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-3);
    max-width: max-content;
    border: 2px solid var(--orange);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
     bottom: 100%;
     left: 50%;
    transform: translateX(-50%);
    width: 200%;
     height: 200%;
     border-radius: var(--radius-circle);
     background-color: var(--orange);
     transition: var(--transition-2);
     z-index: -1;
}

.btn .text { 
    transition: var(--transition-1);
}

.btn .text-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: var(--light-grey)
}

.btn:is(:hover, :focus-visible)::before { bottom: -50%;}

.btn:is(:hover, :focus-visible) .text-1 { transform: translateY(-40px); }

.btn:is(:hover, :focus-visible) .text-2 { 
    top: 50%;
    transform: translate(-50%, -50%); 
}
.btn-secondary::before { background-color: var(--light-grey);}

.btn-secondary .text-2 { color: var(--white); }

.has-before,
.has-after {
    position: relative;
    z-index: 1;
}

.has-before::before,
.has-after::after {
    content: "";
    position: absolute;
}

.section {
    position: relative;
    padding-block: var(--section-space);
    overflow: hidden;
    z-index: 1;
}

.grid-list {
    display: grid;
    gap: 40px;
}

.hover\:shine:is(:hover, :focus-within)::after {
    transform: skewX(-0.08turn) translateX(275%);
    transition: var(--transition-3);
}

.img-holder {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.btn-text {
    color: var(--orange);
    padding-block-end: 4px;
    margin-inline: auto;
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-3);
    font-weight: var(--weight-bold);
    transition: var(--transition-1);
}

.shape {
    display: none;
    position: absolute;
    max-width: max-content;
    z-index: -1;
}

.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



    /* Preload */

.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--orange);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: var(--transition-2);
}

.preload > * { transition: var(--transition-1); }

.preload.loaded > * { opacity: 0; }

.preload.loaded{
    transition-delay: 250ms;
    transform: translateY(100%);
}

@keyframes rotate360 {
    0% { transform: rotate(0);}
    100% { transform: rotate(1turn);}
}

.preload .text {
    font-size: calc(2rem + 3vw);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-inline-start: 16px;
    font-family: var(--fontFamily-oleo);
}

    /* Header */

.header .btn { display: none; }

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding-block: 10px;
    z-index: 4;
    border-block-end: 1px solid transparent;
    transition: var(--transition-1);
}

.header.active {
    padding-block: 20px;
    background-color: var(--solid-black);
    border-color: var(--black-90);
}

.header.hide {
    transform: translateY(-100%);
    transition-delay: 250ms;
}

.header .container {
    padding-inline: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.nav-open-btn {
    padding: 12px;
    padding-inline-end: 0;
}

.nav-open-btn .line{
    width: 30px;
    height: 2px;
    background-color: var(--white);
    margin-block: 4px;
}

.navbar { 
    position: fixed;
    background-color: var(--light-grey);
    top: 0;
    left: -360px;
    bottom: 0;
    max-width: 360px;
    width: 199%;
    padding-inline: 30px;
    padding-block-end: 50px;
    overflow-y: auto;
    visibility: hidden;
    z-index: 2;
    transition: var(--transition-2);
}

.navbar.active{
    visibility: visible;
    transform: translateX(360px);
}

.navbar .close-btn {
    color: var(--white);
    border: 1px solid currentColor;
    padding: 4px;
    border-radius: var(--radius-circle);
    margin-inline-start: auto;
    margin-block: 30px 20px;
}

.navbar .close-btn:is(:hover, :focus-visible) { color: var(--orange); }

.navbar .logo {
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 60px;
}

.navbar-item{ border-block-start: 1px solid var(--white);}

.navbar-link{
    position:relative;
    font-size: var(--fontSize-label-2);
    padding-block: 10px;
    max-width: unset;
}

.navbar-link::after { display: none; }

.navbar-link .span { transition: var(--transition-1); }

.navbar-link:is(:hover, :focus-visible, .active) .span {
    color: var(--orange);
    transform: translateX(20px);
}

.navbar-link .separator {
    position:absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible, .active) .separator { opacity: 1; }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--black-90);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-2);
    z-index: 1;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
    
}

    /* Hero */

.hero .slider-btn { display: none; }

.hero{
    position: relative;
    padding-block: 120px;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.hero .slider-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    padding-block-start: 100px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-3);
    z-index: 1;
}

.hero .slider-item.active {
    opacity: 1;
    visibility: visible;
}

.hero .slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    pointer-events: none;
    user-select: none;
    z-index: -1;
}

.hero .slider-item.active .slider-bg {
    animation: smoothScale 7s linear forwards;
}
  
@keyframes smoothScale {
    0% { transform: scale(1); }
    100% { transform: scale(1.15); }
}
  
.hero-text { margin-block: 10px 40px; }
  
.hero .btn { margin-inline: auto; }
  
.hero-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    background-color: var(--orange);
    width: 110px;
    height: 110px;
    padding: 12px;
    transform: scale(0.6);
}
  
.hero-btn img {
    margin-inline: auto;
    margin-block-end: 6px;
}
  
.hero-btn .span {
    color: var(--black);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-1);
    line-height: var(--lineHeight-3);
}
  
.hero-btn::after {
    inset: 0;
    border: 1px solid var(--orange);
    animation: rotate360 15s linear infinite;
}
  
.slider-reveal {
    transform: translateY(30px);
    opacity: 0;
}
  
.hero .slider-item.active .slider-reveal {
    animation: sliderReveal 1s ease forwards;
}
  
@keyframes sliderReveal {
    0% {
    transform: translateY(30px);
    opacity: 0;
}
  
    100% {
    transform: translateY(0);
    opacity: 1;
}
}

.hero-title{
    font-size: var(--fontSize-title-1);
    margin-bottom: 20px;
}

.hero-text{
    margin-left: 5px;
    margin-right: 5px;
}
  
.hero .slider-item.active .hero-title { animation-delay: 1000ms; }
  
.hero .slider-item.active .hero-text { animation-delay: 1.5s; }
  
.hero .slider-item.active .btn { animation-delay: 2s; }
  

  
    /* Menu */

.menu .section-title { margin-block-end: 16px; }

.menu .section-text { margin-block-end: 40px; }
    
.menu-card { overflow: hidden; }
    
.menu-card .has-before {
    padding-block: 30px;
    margin-block-end: 26px;
    z-index: 1;
}
    
.menu-card .has-before::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 100%;
    background-image: url('../Assets/pattern.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    transition: var(--transition-2);
    transition-delay: 0;
    z-index: -1;
}
    
.menu-card:is(:hover, :focus-within) .has-before::before {
    transform: rotateY(0.5turn) translateX(50%);
    transition-delay: 300ms;
}
    
.menu-card .card-banner {
    transition: var(--transition-2);
    display: flex; 
}
    
.menu-card:is(:hover, :focus-within) .card-banner { transform: scale(1.05); }

.menu .card-title { margin-block-end: 12px; }
    
    